@import '../../../assets/scss/layout.scss';

.main_wrapper {
  height: 100vh;
}

.title_div {
  min-height: 500px;
  padding: 0px 150px;
  background: linear-gradient(-5deg, #0066cd, #2cb5e8);
}

.difficulty_wrapper {
  height: 100vh;
  padding: 50px 150px;
  background: #0066cd;
}

.difficulty_header_text {
  color: white;
  text-decoration: none;
  font-size: 50px;
  font-weight: bold;
}

.image {
  width: 95vw;
}

.main_text {
  font-size: 100px;
  color: white;
  font-weight: bold;
}

.content_text {
  font-size: 25px;
  color: white;
  border-left: 8px solid #FF4500;
  margin: 10px 0px;
  padding: 10px;
}

.heading_text {
  font-size: 24px;
}

.language_wrapper {
  margin: 50px 0px;
  padding: 50px 150px;
  background: white;
}

.language_header_text {
  color: black;
  text-decoration: none;
  font-size: 50px;
  font-weight: bold;
}

.timeline_wrapper {
  height: 100vh;
}

.hover_div {
  height: 200px;
  max-height: 200px;
  width: 35%;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  background: #272822;
}

.hover_title {
  font-size: 30px;
  font-weight: bold;
  color: $_green;
}

.hover_description {
  color: white;
  font-size: 25px;
}

.dialect_text {
  color: $_pink;
}

.margin_tb_25 {
  margin: 25px 0px;
}

// Animate gif to float
app-coding-gif {
  -webkit-animation: action 1s infinite alternate;
  animation: action 1s infinite alternate;
}

@-webkit-keyframes action {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-15px);
  }
}

@keyframes action {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-15px);
  }
}
