<div class="main_wrapper">
  <div class="_flex_col main_text">
    <span>A tutorial on how to get started with coding</span>
    <span class="heading_text">This tutorial assumes you have absolutely zero knowledge of programming - you will learn how to get started in &lt; 5 mins</span>
  </div>
  <!-- <img src='../../../assets/supreme-logo.png' class="image"> -->
  <app-language-grid></app-language-grid>
  <a href="#timeline">test</a>
</div>

<div id="timeline">
  <app-timeline [timelineEntries]="entries"></app-timeline>
</div>