@import '../../../assets/scss/layout.scss';

.main_wrapper {
  height: 100vh;
}

.image {
  width: 95vw;
}

.main_text {
  font-size: 80px;
  text-align: center;
}

.heading_text {
  font-size: 24px;
}