@import './variables.scss';

._flex {
  display: flex;
}

._flex_col {
  display: flex;
  flex-direction: column;
}

._flex_wrap {
  display: flex;
  flex-wrap: wrap;
}

._flex_row_end {
  display: flex;
  justify-content: flex-end;
}

._flex_row_start {
  display: flex;
  justify-content: flex-start;
}

._justify_center {
  justify-content: center;
}

._space_between {
  justify-content: space-between;
}

._space_evenly {
  justify-content: space-evenly;
}

._flex_align_item_end {
  align-items: flex-end;
}

._flex_align_item_start {
  align-items: flex-start;
}

._flex_align_item_center {
  align-items: center;
}