@import '../../../assets/scss/layout.scss';

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 300px;
  border-radius: 10px;
  background: white;
  border: 5px inset #ffc04c;

  img {
    width: 300px
  }
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.text_wrapper {
  padding: 10px;
}

.card_text {
  color: black;
}

.container {
  padding: 2px 16px;
}
