@import '../../../assets/scss/layout.scss';

.card {
  width: 300px;
  height: 370px;
  background-image: linear-gradient(135deg, #4dcfe0 0%, #1185e0 100%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transform-style: preserve-3d;
  border-radius: 10px;
}

.inner {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 240px;
  height: 220px;
  background-color: white;
  box-shadow: 0 0 50px 0 rgba(51, 51, 51, 0.3);
  transform: translateZ(20px);
  border-radius: 6px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.text_wrapper {
  padding: 30px;
}

.card_text {
  color: black;
}

.container {
  padding: 2px 16px;
}

