@import '../../../assets/scss/layout.scss';

.element {
  padding: 10px;
  margin: 10px;
  //border: 1px solid black;
  background: white;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}

img {
  width: 125px;
  position: relative;
  top: 0;
  transition: top ease 0.5s;
}

img:hover {
  cursor: pointer;
  top: -5px;
}