@import '../../../assets/scss/layout.scss';

.grid_wrapper {
  //max-width: 500px;
}

.element {
  padding: 10px;
}

img {
  width: 100px;
}

img:hover {
  box-shadow: 0px 3px 6px #00000018;
  cursor: pointer;
}
