<div class="_flex_wrap _justify_center grid_wrapper">
  <div class="element">
    <img src="../../../assets/images/javascript.svg">
  </div>
  <div class="element">
    <img src="../../../assets/images/c-language.svg">
  </div>
  <div class="element">
    <img src="../../../assets/images/java.svg">
  </div>
  <div class="element">
    <img src="../../../assets/images/typescript.svg">
  </div>
  <div class="element">
      <img src="../../../assets/images/python.svg">
  </div>
  <div class="element"></div>
  <div class="element"></div>
  <div class="element"></div>
  <div class="element"></div>
  <div class="element"></div>
</div>
