/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: myFirstFont;
    src: url('./assets/fonts/futura.ttf');
  }

  body {
      font-family: myFirstFont;
      margin: 10px;
  }

  ::ng-deep .material-icons{
    font-family: 'Material Icons' !important;
}