/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: myFirstFont;
  src: url('./assets/fonts/futura.ttf');
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Work Sans', sans-serif;
  margin: 0px;
  //background: linear-gradient(200deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  // background: #0066cd;
}

::ng-deep .material-icons {
  font-family: 'Material Icons' !important;
}
